<!DOCTYPE html>
	<html lang="ja">
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>お問合せ</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans&family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/styles.css">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="../index.html"><img src="../images/logo-sm.png" alt="ロゴ画像"></a></h1>
				<nav>
					<ul>
						<li><a href="mypage.php" class="mr-3">マイページ</a></li>
						<li><a href="account.php" class="mr-3">アカウント</a></li>
						<li><a href="../logout.php">ログアウト</a></li>
					</ul>
				</nav>
			</header>
			<main class="faq">
				<h1 class="mb-4">よくあるご質問</h1>
				<form action="#" method="POST">
					<div class="p-3">
						<table>
							<tr>
								<th><p class="q-icon">Ｑ</p></th>
								<td><p class="mb-3">おごりあいの仕組みを教えて</p></td>
							</tr>	
							<tr>
								<th class="a-row"><p class="a-icon">Ａ</p></th>
								<td>
									<p class="mb-5">
										他のユーザーとグループを作って、グループ内の支出を計上していくアプリです。<br>
										毎回の支出は繰越として計上され、お好きなタイミングで清算計上が可能です。<br>
										友達との旅行や家計が別の方と同居している場合など、「毎回割りかん請求できない」ときにお役立てください。
									</p>
								</td>
							</tr>			
							<tr>
								<th><p class="q-icon">Ｑ</p></th>
								<td><p class="mb-3">グループの設定は？</p></td>
							</tr>	
							<tr>
								<th class="a-row"><p class="a-icon">Ａ</p></th>
								<td>
									<p class="mb-5">
										グループの作成者が自動的にリーダーになり、リーダーだけがグループ管理機能を使用できます。<br>
										主な機能は、グループ名・アバターの変更、メンバーの追加・削除、グループの削除です。<br>
										グループ管理以外の機能は、みなさんがお使いいただけます。
									</p>
								</td>
							</tr>			
						</table>
					</div>
				</form>
			</main>
			<footer>
				<div>
					<small>© 2021 Mai Saito.</small>
				</div>
				<div>
					<p><a href="faq.html" class="btn btn-lg btn-contact mr-3">よくあるご質問</a></p>
					<p><a href="contact.php"  class="btn btn-lg btn-contact mr-3">お問合せ</a></p>
					<p><a href="#wrapper"><img src="../images/page-top-nude.png" alt="ページトップへ移動"></a></p>
				</div>
			</footer>
		</div>
	</body>
	</html>	