<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>メールアドレス入力画面</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans&family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<div id="wrapper">
		<header>
			<h1><a href="../index.html"><img src="../images/logo-sm.png" alt="ロゴ画像"></a></h1>
			<nav>
				<ul>
					<li><a href="login.html" class="mr-3">ログイン</a></li>
					<li><a href="register.html">登録</a></li>
				</ul>
			</nav>
		</header>
		<main class="password-reset">
			<section>
				<p>パスワード再設定のためのメールを送信いたします</p>
				<form action="../password_reset_comp.php" method="POST">
					<table>
						<tr class="form-group">
							<th><label for="email">メールアドレス：</label></th>
							<td><input type="email" name="email" id="email" class="form-control" size="40"></td>
						</tr>
						<tr>
							<th colspan="2" class="text-right"><input type="submit" value="メールを送信する" class="btn btn-lg btn-primary mt-2 mb-2" id="login-button"></th>
						</tr>
					</table>
				</form>
			</section>
		</main>
		<footer>
			<div>
				<small>© 2021 Mai Saito.</small>
			</div>
			<div>
				<p><a href="faq.html" class="btn btn-lg btn-contact mr-3">よくあるご質問</a></p>
				<p><a href="contact.php"  class="btn btn-lg btn-contact mr-3">お問合せ</a></p>
				<p><a href="#wrapper"><img src="../images/page-top-nude.png" alt="ページトップへ移動"></a></p>
			</div>
		</footer>
	</div>
</body>
</html>