<!DOCTYPE html>
	<html lang="ja">
	
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>お問合せ</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Noto+Sans&family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/styles.css">
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1><a href="../index.html"><img src="../../images/logo-sm.png" alt="ロゴ画像"></a></h1>
				<nav>
					<ul>
						<li><a href="dashboard.php" class="mr-3">ダッシュボード</a></li>
						<li><a href="../admin_logout.php">ログアウト</a></li>
					</ul>
				</nav>
			</header>
			<main class="faq">
				<h1 class="mb-4">よくあるご質問</h1>
				<form action="#" method="POST">
					<div class="p-3">
						<table>
							<tr>
								<th><p class="q-icon">Ｑ</p></th>
								<td><p class="mb-3">ユーザーやグループの検索方法がわからない</p></td>
							</tr>	
							<tr>
								<th class="a-row"><p class="a-icon">Ａ</p></th>
								<td>
									<p class="mb-5">
										ユーザー検索とグループ検索のタブを使ってユーザーとグループを検索してください。<br>
										検索したユーザーIDやグループIDを用いて他のタブでも情報を検索することができます。<br>
									</p>
								</td>
							</tr>			
							<tr>
								<th><p class="q-icon">Ｑ</p></th>
								<td><p class="mb-3">お知らせ機能とは？</p></td>
							</tr>	
							<tr>
								<th class="a-row"><p class="a-icon">Ａ</p></th>
								<td>
									<p class="mb-5">
										「お知らせ機能」とは、管理者側からユーザー全体にお知らせを送る機能です。<br>
										送られたお知らせは、右上のナビゲーションにあるベルアイコンに表示され、既読になると消えるようになっています。<br>
										ユーザー全員に送る他に、グループIDもしくはユーザーIDで指定したユーザーだけに通知することもできます。
									</p>
								</td>
							</tr>			
						</table>
					</div>
				</form>
			</main>
			<footer>
				<div>
					<small>© 2021 Mai Saito.</small>
				</div>
				<div>
					<p><a href="admin_faq.html" class="btn btn-lg btn-contact mr-3">よくあるご質問</a></p>
					<p><a href="../../views/contact.php"  class="btn btn-lg btn-contact mr-3">お問合せ</a></p>
					<p><a href="#wrapper"><img src="../../images/page-top-nude.png" alt="ページトップへ移動"></a></p>
				</div>
			</footer>
		</div>
	</body>
	</html>	