@charset "UTF-8";

/*** General ***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	color: rgb(67, 53, 32);
	font: 1.6rem 'Noto Sans JP', 'Kiwi Maru', serif;
}

#wrapper { 
	max-width: 1100px;
	width: calc(100% - 100px);
	height: 100%;
	margin: 0 auto;
}

main {
	width: 100%;
	height: 100%;
	display: block;
}

a, a:hover {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

/*** Buttons & Tabs & Avatars ***/
.btn-primary {
	background-color: rgb(0, 145, 124);
	border: solid 1px  rgb(0, 145, 124);
}

.btn-primary:hover {
	background-color: rgb(67, 53, 32);
	border: solid 1px rgb(67, 53, 32);
}

.btn-secondary {
	width: 15%;
	color: rgb(0, 145, 124);
	border: double 3px rgb(0, 143, 121);
	background-color: inherit;
}

.btn-secondary:hover {
	color: rgb(67, 53, 32);
	border: double 3px rgb(67, 53, 32);
	background-color: inherit;
}

.btn-danger {
	background-color: rgb(143, 0, 21);
	border: solid 1px  rgb(145, 0, 21);
}

.btn-danger:hover {
	background-color: rgb(67, 53, 32);
	border: solid 1px  rgb(67, 53, 32);
}


.tab-list {
	width: 15%;
	display: flex;
	flex-direction: column;
}

.tab-list li {
	width: 90%;
	margin-bottom: 15px;
}

.tab-content {
	width: calc(100% - 15%);
	height: fit-content;
}

.tab-panel {
	width: 100%;
	display: none;
	border: 2px solid rgb(223, 224, 223);
}

.tab-list .is-active {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 145, 124);
}

.tab-content .is-active {
	display: block;
  animation: fade 0.5s ease;
}

.avatar {
	width: 50px;
	height: 50px;
	border: 2px solid rgba(0, 145, 124, 0.5);
}

/*** Notice ***/
.notice-container {
	display: none;
	position: absolute;
	top: 80px;
	left: calc(100vw - 430px);
	z-index: 999;
}

.notice-container:before {
	border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(223, 224, 223);
  border-left: 10px solid transparent;  
  width: 0;
  height: 0;
	display: block;
  position: absolute;
  top: -10px;
  content: '';         
}

.notice-container .notice-list {
	width: calc(100vw / 6);
	padding: 5px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(223, 224, 223);
}

.notice-container .notice-list .notice-title {
	outline: none;
	border: none;
	background-color: inherit;
}

.notice-container .notice-list .notice-date {
	text-align: right;
	border-bottom: 2px dotted rgb(223, 224, 223);
}

.notice-container .notice-list .notice-date:last-of-type {
	border-bottom: none;
}

.notice {
	width: 90%;
	margin: 0 auto;
	display: block;
}

.notice .notice-name {
	color: rgb(0, 145, 124);
	font-size: 2rem;
	text-align: right;
}

.notice .notice-date {
	text-align: right;
}

.notice .notice-content {
	border: 2px solid rgb(223, 224, 223)
}

/*** Header ***/
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
}

header h1 img {
	vertical-align: top;
}

header h1 img:hover {
	width: 110%;
}

header li span{
	color: rgb(0, 145, 124);
}

header ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header ul li #notice:hover,
header ul li #no-notice:hover {
	cursor: pointer;
}

header ul li:first-of-type {
	text-align: center;
}

header ul li a {
	color: rgb(67, 53, 32);
}

header ul li a:hover {
	color: rgb(0, 145, 124);
	border-bottom: 3px dotted rgb(253, 232, 205);;
}

header #notice {
	width: 55%;
}

/*** Footer ***/
footer {
	width: 80%;
	margin: 0 auto;
	padding: 5px 5px 0;
	display: flex;
	position: absolute;
  bottom: 0;
	left: 10%;
	justify-content: space-between;
	border-top: 2px dotted rgb(253, 232, 205);
}

footer div:first-of-type {
	width: 55%;
	margin: auto 0;
	text-align: right;
	color: rgb(253, 232, 205);
}

footer div:nth-of-type(2) {
	width: 45%;
	display: flex;
	justify-content: flex-end;
}

footer div img {
	width: 50%;
	vertical-align: top;
}

.btn-contact {
	color: rgb(67, 53, 32);
	border: double 3px rgb(253, 232, 205);
	background-color: inherit;
}

.btn-contact:hover {
	color: rgb(67, 53, 32);
	border: double 3px rgb(253, 232, 205);
	background-color: rgba(253, 232, 205, 0.5);
}

/*** Home ***/
.home section {
	width: 80%;
	margin: 0 auto;
	display: flex;
	padding-top: 20%;
}

.home section h1 {
	font-size: 2rem;
}

.home section img {
	width: 80%;
	display: block;
	margin: auto auto;
}

.home section div {
	width: 60%;
	padding-top: 5%
}

/*** Dashboard ***/
.dashboard {
	width: 90%;
	margin: 0 auto;
	display: block;
}

.dashboard  section {
	display: flex;
}

.dashboard  section h1 {
	font-size: 2rem;
}

.dashboard .tab-content .expense-table,
.dashboard .tab-content .notice-form,
.dashboard .tab-content .user-search-form,
.dashboard .tab-content .group-search-form,
.dashboard .tab-content .add-admin-form,
.dashboard .tab-content .password-form,
.dashboard .tab-content .delete-group-form,
.dashboard .tab-content .delete-user-form{
	padding: 10px 20px;
}

.dashboard .tab-content .expense-table #table-filter label,
.dashboard .tab-content .notice-form label,
.dashboard .tab-content .user-search-form .user-filter label,
.dashboard .tab-content .group-search-form .group-filter label,
.dashboard .tab-content .add-admin-form .user-filter label,
.dashboard .tab-content .delete-group-form .group-filter label,
.dashboard .tab-content .delete-user-form .user-filter label {
	font-size: 1.4rem;
	white-space: nowrap;
}

.dashboard .tab-content .expense-table #table-filter .group_name,
.dashboard .tab-content .expense-table #table-filter .name,
.dashboard .tab-content .delete-group-form .group-filter .group_name, 
.dashboard .tab-content .delete-user-form .user-filter .name, 
.dashboard .tab-content .delete-user-form .user-filter .email {
	border: none;
	outline: none;
	font-size: 1.4rem;
	background-color: inherit;
}

.dashboard .tab-content .expense-table #table-filter th {
	width: fit-content;
}

.dashboard .tab-content .expense-table #table-filter input {
	width: 100%;
}

.dashboard .tab-content .dashboard-table  {
	width: 100%;
	border: 1px solid rgb(223, 224, 223);
}

.dashboard .tab-content .dashboard-table tr,
.dashboard .tab-content .dashboard-table th,
.dashboard .tab-content .dashboard-table td {
	border: 1px dotted rgb(223, 224, 223);
	padding-left: 5px;
}

.dashboard .tab-content .dashboard-table th {
	background-color: rgba(0, 145, 124, 0.1);
}

.dashboard .tab-content .dashboard-table .btn-cell {
	width: 20%;
	text-align: center;
}
.dashboard .tab-content .dashboard-table .btn {
	width: 90%;
}

.dashboard .tab-content .notice-form table {
	width: 90%;
}

.dashboard .notice-form table th {
	width: 10%;
}

.dashboard .notice-form table td {
	width: 40%;
}

.dashboard .notice-form .select-recipient {
	display: none;
}

.dashboard .tab-content .user-search-form .member-table tr,
.dashboard .tab-content .user-search-form .member-table th,
.dashboard .tab-content .user-search-form .member-table td {
	padding-left: 5px;
	border: 1px solid rgb(223, 224, 223);
}

.dashboard .tab-content .insert-alert {
	font-size: 1.2rem;
	color: rgb(143, 0, 21);
}

/*** Add-admin & Delete-group & Delete-user ***/
.add-admin,
.delete-group,
.delete-user {
	width: 90%;
	margin: 0 auto;
	display: block;
}

/*** FAQ ***/
.faq {
	width: 90%;
	margin: 0 auto;
	color: rgb(67, 53, 32);
}

.faq h1{
	width: 70%;
	font-size: 2rem;
	margin-bottom: 10px;
}

.faq div{
	width: 100%;
	border: 2px solid rgb(223, 224, 223);
	border-collapse: separate;
}

.faq .q-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgba(145, 0, 21, 0.7);
	border-radius: 50%;
}

.faq .a-icon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgba(0, 145, 124, 0.7);
	border-radius: 50%;
}

.faq .a-row {
	vertical-align: top;
}